[Unit]
Description=X2Go TCE CD/DVD Manager Daemon
Documentation=man:x2gocdmanager(8)

[Service]
Type=forking
ExecStartPre=/bin/sh -c '[ "$(cat /etc/X11/default-display-manager 2>/dev/null)" = "/usr/sbin/x2gothinclientd" ]'
ExecStart=/usr/sbin/x2gocdmanager
PIDFile=/run/x2gothinclient-cdmanager.pid

[Install]
WantedBy=multi-user.target
