[Unit]
Description=OpenStack Gnocchi Api
After=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network-online.target local-fs.target remote-fs.target 
Wants=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network-online.target 

Documentation=man:gnocchi-api(1)

[Service]
User=gnocchi
Group=gnocchi
Type=simple
WorkingDirectory=~
RuntimeDirectory=gnocchi lock/gnocchi
CacheDirectory=gnocchi
ExecStart=/etc/init.d/gnocchi-api systemd-start
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
