[Unit]
Description=Indicator Network Secret Agent
PartOf=lomiri-indicator-network.service

[Service]
ExecStart=/usr/libexec/lomiri-indicator-network/lomiri-indicator-network-secret-agent
Restart=on-failure
