[Unit]
Description=OpenStack Nova NoVNC Proxy (nova-novncproxy)
After=nova-consoleauth.service network-online.target local-fs.target remote-fs.target 
Wants=nova-consoleauth.service network-online.target 

Documentation=man:nova-novncproxy(1)

[Service]
User=nova
Group=nova
Type=simple
WorkingDirectory=~
RuntimeDirectory=nova lock/nova
CacheDirectory=nova
ExecStart=/etc/init.d/nova-novncproxy systemd-start
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
