[Unit]
Description=OpenStack Swift object server
PartOf=swift-object.service
ReloadPropagatedFrom=swift-object.service
ConditionFileNotEmpty=/etc/swift/object-server/%i.conf
AssertFileNotEmpty=/etc/swift/account.ring.gz
AssertFileNotEmpty=/etc/swift/container.ring.gz
AssertPathExistsGlob=/etc/swift/object*.ring.gz
Documentation=man:swift-object-server(1)


[Service]
User=swift
Group=swift
WorkingDirectory=~
CacheDirectory=swift
RuntimeDirectory=swift lock/swift
ExecStart=/usr/bin/swift-object-server /etc/swift/object-server/%i.conf
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

