[Unit]
Description=OpenStack Cinder Scheduler (cinder-scheduler)
After=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network-online.target local-fs.target remote-fs.target 
Wants=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network-online.target 

Documentation=man:cinder-scheduler(1)

[Service]
User=cinder
Group=cinder
Type=simple
WorkingDirectory=~
RuntimeDirectory=cinder lock/cinder
CacheDirectory=cinder
ExecStart=/etc/init.d/cinder-scheduler systemd-start
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
