[Unit]
Description=Key exchange daemon

[Service]
EnvironmentFile=/etc/default/kxd
ExecStart=/usr/bin/kxd $DAEMON_ARGS
Type=simple

[Install]
WantedBy=multi-user.target
