[Unit]
Description=OpenStack Watcher Applier (watcher-applier)
After=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network-online.target local-fs.target remote-fs.target 
Wants=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network-online.target 

Documentation=man:watcher-applier(1)

[Service]
User=watcher
Group=watcher
Type=simple
WorkingDirectory=~
RuntimeDirectory=watcher lock/watcher
CacheDirectory=watcher
ExecStart=/etc/init.d/watcher-applier systemd-start
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
