[Unit]
Description=Wait for ntpd to synchronize system clock
Documentation=man:ntpwait(8)
Requisite=ntpsec.service
After=ntpsec.service
Conflicts=systemd-timesyncd.service
ConditionCapability=CAP_SYS_TIME

[Service]
Type=oneshot
ExecStart=/usr/sbin/ntpwait -s 1 -n 30000
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=time-sync.target
