[Unit]
Description=Daily painintheapt
Documentation=man:painintheapt(8)
ConditionACPower=true

[Service]
Type=oneshot
ExecStart=/usr/sbin/painintheapt
TimeoutStartSec=2048
