[Unit]
Description=OpenStack Ceilometer Agent Compute (ceilometer-agent-compute)
After=mongodb.service rabbitmq-server.service network-online.target local-fs.target remote-fs.target 
Wants=mongodb.service rabbitmq-server.service network-online.target 

Documentation=man:ceilometer-agent-compute(1)

[Service]
User=ceilometer
Group=ceilometer
Type=simple
WorkingDirectory=~
RuntimeDirectory=ceilometer lock/ceilometer
CacheDirectory=ceilometer
ExecStart=/etc/init.d/ceilometer-agent-compute systemd-start
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
