[Unit]
Description=SYMPA mailing list manager (bulk)
PartOf=sympa.service
Documentation=man:bulk(8)

[Service]
User=sympa
Group=sympa

PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /run/sympa
ExecStartPre=-/bin/chown sympa:sympa /run/sympa

Type=forking
ExecStart=/usr/lib/sympa/bin/bulk.pl
PIDFile=/run/sympa/bulk.pid

Restart=on-failure
RestartSec=15

PrivateTmp=true

[Install]
WantedBy=multi-user.target
