[Unit]
Description=DHCP/BOOTP relay agent
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/default/dhcp-helper
ExecStart=/usr/sbin/dhcp-helper -r /run/dhcp-helper.pid $DHCPHELPER_OPTS
PIDFile=/run/dhcp-helper.pid

[Install]
WantedBy=multi-user.target
