[Unit]
Description=OpenStack Masakari Introspective Instance Monitor (masakari-introspective-instance-monitor)
After=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service chrony.service network-online.target local-fs.target remote-fs.target 
Wants=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service chrony.service network-online.target 

Documentation=man:masakari-introspective-instance-monitor(1)

[Service]
User=masakari
Group=masakari
Type=simple
WorkingDirectory=~
RuntimeDirectory=masakari lock/masakari
CacheDirectory=masakari
ExecStart=/etc/init.d/masakari-introspective-instance-monitor systemd-start
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
