[Unit]
Description=Google Compute Engine Startup Scripts
After=network-online.target google-guest-agent.service
Before=apt-daily.service

[Service]
Type=oneshot
ExecStart=/usr/bin/google_metadata_script_runner startup
RemainAfterExit=true
KillMode=process

[Install]
WantedBy=multi-user.target
