[Unit]
Description=Google Compute Engine Shutdown Scripts
After=network-online.target google-guest-agent.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=true
# This service does nothing on start, and runs shutdown scripts on stop.
ExecStop=/usr/bin/google_metadata_script_runner shutdown
# Shutdown needs to be finished in 90s
# https://cloud.google.com/compute/docs/instances/deleting-instance#delete_timeout
TimeoutStopSec=90s
KillMode=process

[Install]
WantedBy=multi-user.target
