[Unit]
Description=Portal service (XApp implementation)

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.xapp
ExecStart=/usr/libexec/xdg-desktop-portal-xapp
