[Unit]
Description=Anytun Service
Documentation=man:anytun(8)
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecReload=/bin/true
WorkingDirectory=/etc/anytun

[Install]
WantedBy=multi-user.target
