[Unit]
Description=Tang Server
Documentation=man:tang(8)

[Service]
StandardInput=socket
StandardOutput=socket
StandardError=journal
ExecStart=/usr/libexec/tangd /var/lib/tang
User=_tang
Group=_tang
