[Unit]
Description=Run the Nebula networking overlay as a daemon
Wants=basic.target
After=basic.target network-online.target

[Service]
User=root
SyslogIdentifier=nebula-%i
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/lib/nebula/bin/nebula-systemd-launcher %i
Restart=always

[Install]
WantedBy=multi-user.target
