[Unit]
Description=OpenStack Neutron VPNaaS Vyatta agent
After=mysql.service postgresql.service rabbitmq-server.service keystone.service network-online.target local-fs.target remote-fs.target 
Wants=mysql.service postgresql.service rabbitmq-server.service keystone.service network-online.target 

Documentation=man:neutron-vyatta-agent(1)

[Service]
User=neutron
Group=neutron
Type=simple
WorkingDirectory=~
RuntimeDirectory=neutron lock/neutron
CacheDirectory=neutron
ExecStart=/etc/init.d/neutron-vyatta-agent systemd-start
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
