[Unit]
Description=OpenStack Heat Engine (heat-engine)
After=network-online.target local-fs.target remote-fs.target 
Wants=network-online.target 

Documentation=man:heat-engine(1)

[Service]
User=heat
Group=heat
Type=simple
WorkingDirectory=~
RuntimeDirectory=heat lock/heat
CacheDirectory=heat
ExecStart=/etc/init.d/heat-engine systemd-start
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
