[Unit]
Description=OpenStack Octavia Housekeeping Manager (octavia-housekeeping)
After=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network-online.target local-fs.target remote-fs.target 
Wants=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network-online.target 

Documentation=man:octavia-housekeeping(1)

[Service]
User=octavia
Group=octavia
Type=simple
WorkingDirectory=~
RuntimeDirectory=octavia lock/octavia
CacheDirectory=octavia
ExecStart=/etc/init.d/octavia-housekeeping systemd-start
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
