[Unit]
Description=Jabber Router XML Packet Distributior
After=network.target
BindsTo=jabberd.service

[Service]
User=jabber
ExecStart=/usr/sbin/jabberd2-router -c /etc/jabberd2/router.xml
Restart=on-failure

[Install]
WantedBy=multi-user.target
