[Unit]
Description=Runit service supervision
Documentation=http://smarden.org/runit/

[Service]
ExecStart=/etc/runit/runsvdir-start
KillSignal=SIGHUP
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
