[Unit]
Description=Lomiri Indicator DateTime Service
PartOf=graphical-session.target
PartOf=lomiri-indicators.target

[Service]
ExecStart=/usr/libexec/lomiri-indicator-datetime/lomiri-indicator-datetime-service
Restart=on-failure

[Install]
WantedBy=lomiri-indicators.target
