[Unit]
Description=OpenStack Ironic NoVNC proxy (ironic-novncproxy)
After=postgresql.service mysql.service keystone.service ntp.service rabbitmq-server.service network-online.target local-fs.target remote-fs.target 
Wants=postgresql.service mysql.service keystone.service ntp.service rabbitmq-server.service network-online.target 

Documentation=man:ironic-novncproxy(1)

[Service]
User=ironic
Group=ironic
Type=simple
WorkingDirectory=~
RuntimeDirectory=ironic lock/ironic
CacheDirectory=ironic
ExecStart=/etc/init.d/ironic-novncproxy systemd-start
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
