[Unit]
Description=GPaste user interface

[Service]
Type=dbus
BusName=org.gnome.GPaste.Ui
ExecStart=/usr/libexec/gpaste/gpaste-ui --gapplication-service
