[Unit]
Description=GPaste preferences

[Service]
Type=dbus
BusName=org.gnome.GPaste.Preferences
ExecStart=/usr/libexec/gpaste/gpaste-preferences --gapplication-service
