[Unit]
Description=OAR compute node script
After=oar-node.service
Documentation=man:oar-node(8)

[Service]
ExecStart=/etc/oar/oar-node-service start
ExecStop=/etc/oar/oar-node-service stop
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=oar.target
