[Install]
WantedBy=multi-user.target

[Unit]
Description=IIPImage server
After=network.target
Documentation=https://iipimage.sourceforge.io man:iipsrv(8)

[Service]
User=www-data
Group=www-data
EnvironmentFile=/etc/default/iipsrv
ExecStart=/usr/lib/iipimage-server/iipsrv.fcgi --bind 0.0.0.0:9000 --backlog 1024
Restart=on-failure
