[Unit]
Description=kylin process manager daemon
After=display-manager.service

[Service]
Type=dbus
BusName=com.kylin.ProcessManager
ExecStart=/usr/bin/kylin-process-manager-daemon

[Install]
WantedBy=multi-user.target