[Unit]
Description=PowerMan
After=syslog.target network.target

[Service]
Environment=SHELL=/bin/sh
PrivateTmp=yes
User=powerman
Group=daemon
ExecStart=/usr/sbin/powermand

[Install]
WantedBy=multi-user.target
