[Unit]
Description=Sxmo: start desktop widget (ie. clock)

[Service]
Type=simple
Restart=always
ExecStart=/usr/share/sxmo/default_hooks/sxmo_hook_desktop_widget.sh
