[Unit]
Description=Courier IMAP Daemon
Requires=courier-authdaemon.service
After=courier-authdaemon.service

[Service]
Type=forking
ExecStart=/usr/lib/courier/imapd start
ExecStop=/usr/lib/courier/imapd stop
PIDFile=/run/courier/imapd.pid

[Install]
WantedBy=multi-user.target
