[Unit]
Description=LDAP connection daemon
Documentation=man:pynslcd(8)
After=remote-fs.target
After=time-sync.target
After=network-online.target
After=slapd.service
After=krb5-kdc.service
After=heimdal-kdc.service
After=heimdal-kcm.service
After=shishi-kdc.service
Before=multi-user.target
Before=graphical.target
Before=mail-transport-agent.target
Before=x-display-manager.target
Before=am-utils.service
Before=apache2.service
Before=atd.service
Before=autofs.service
Before=citadel.service
Before=courier-ldap.service
Before=courier-mta.service
Before=courier-mta-ssl.service
Before=courier-pop.service
Before=courier-pop-ssl.service
Before=cron.service
Before=cyrus-imapd.service
Before=dovecot.service
Before=exim4.service
Before=gdm3.service
Before=kdm.service
Before=kolab-cyrus-common.service
Before=lightdm.service
Before=mail-transport-agent.service
Before=masqmail.service
Before=nullmailer.service
Before=sendmail.service
Before=slim.service
Before=wdm.service
Before=xdm.service
Wants=network-online.target
PartOf=nss-lookup.target
PartOf=nss-user-lookup.target

[Service]
Type=forking
Restart=on-abnormal
TimeoutSec=5min
PIDFile=/run/nslcd/nslcd.pid
ExecStart=/etc/init.d/pynslcd start
ExecStop=/etc/init.d/pynslcd stop
InaccessibleDirectories=/home
DevicePolicy=closed
PrivateTmp=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths=/run

[Install]
WantedBy=multi-user.target
