[Unit]
Description=OPA Fabric Manager
After=network.target

[Service]
User=root
Type=forking
ExecStart=/usr/lib/opa-fm/bin/opafmd -D
ExecStop=/usr/lib/opa-fm/bin/opafmd halt
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=30
RestartSec=2

[Install]
WantedBy=multi-user.target
