[Unit]
Description=User Session Migration
Before=graphical-session-pre.target
Requires=dbus.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/user-session-migration

[Install]
WantedBy=graphical-session-pre.target
