[Unit]
Description=thinkfan 1.3.1
Documentation=man:thinkfan
After=sysinit.target
After=systemd-modules-load.service

[Service]
Type=forking
EnvironmentFile=-/etc/default/thinkfan
ExecStart=/usr/sbin/thinkfan $THINKFAN_ARGS $DAEMON_ARGS
PIDFile=/run/thinkfan.pid
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
Also=thinkfan-sleep.service
Also=thinkfan-wakeup.service
