[Unit]
Description=OpenStack Swift account auditor
PartOf=swift-account-auditor.service
ReloadPropagatedFrom=swift-account-auditor.service
ConditionFileNotEmpty=/etc/swift/account-server/%i.conf
AssertFileNotEmpty=/etc/swift/account.ring.gz
AssertFileNotEmpty=/etc/swift/container.ring.gz
AssertPathExistsGlob=/etc/swift/object*.ring.gz
Documentation=man:swift-account-auditor(1)


[Service]
User=swift
Group=swift
WorkingDirectory=~
CacheDirectory=swift
RuntimeDirectory=swift lock/swift
ExecStart=/usr/bin/swift-account-auditor /etc/swift/account-server/%i.conf
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

