[Unit]
Description=Pagure SMTP filter (Milter) Daemon (talk to postfix over a socket)
After=postfix.target
Documentation=https://pagure.io/pagure

[Service]
ExecStart=/usr/bin/python3 /usr/share/pagure-milters/bin/comment_email_milter.py
Type=simple
User=postfix
Group=postfix
Restart=on-failure

[Install]
WantedBy=multi-user.target
