[Unit]
Description=Apache Directory Server
After=network.target
ConditionPathExists=|/etc/apacheds/config.ldif
ConditionPathIsDirectory=|/etc/apacheds/ou=config

[Service]
Type=simple
User=apacheds
Group=apacheds
EnvironmentFile=/etc/default/apacheds
ExecStart=/bin/sh -c "exec \
            ${JAVA_HOME}/bin/java ${JAVA_OPTS} \
              -Dapacheds.controls=${ADS_CONTROLS} \
              -Dapacheds.extendedOperations=${ADS_EXTENDED_OPERATIONS} \
              -Dlog4j.configuration=file:${ADS_INSTANCES}/${ADS_INSTANCE}/conf/log4j.properties \
              -Dapacheds.log.dir=${ADS_INSTANCES}/${ADS_INSTANCE}/log \
              -cp '${ADS_HOME}/lib/*' \
              org.apache.directory.server.UberjarMain \
              ${ADS_INSTANCES}/${ADS_INSTANCE}/"
PrivateTmp=true

[Install]
WantedBy=multi-user.target
