#
# Notice:
# You should add environment file and set SCD_CONFIG
# with the location of gnupg-pkcs11-scd config file.
#

[Unit]
Description=gnupg-pkcs11-scd-proxy

[Service]
EnvironmentFile=/etc/default/gnupg-pkcs11-scd-proxy
Type=simple
ExecStart=/usr/bin/gnupg-pkcs11-scd-proxy-server --scd-config=${SCD_CONFIG}
RuntimeDirectory=gnupg-pkcs11-scd-proxy
RuntimeDirectoryMode=0750
User=gnupg-pkcs11-scd-proxy
Group=gnupg-pkcs11
SupplementaryGroups=gnupg-pkcs11-scd-proxy

[Install]
WantedBy=multi-user.target
