[Unit]
Description=OpenStack Swift container sync
PartOf=swift-container-sync.service
ReloadPropagatedFrom=swift-container-sync.service
ConditionFileNotEmpty=/etc/swift/container-server/%i.conf
AssertFileNotEmpty=/etc/swift/account.ring.gz
AssertFileNotEmpty=/etc/swift/container.ring.gz
AssertPathExistsGlob=/etc/swift/object*.ring.gz
Documentation=man:swift-container-sync(1)


[Service]
User=swift
Group=swift
WorkingDirectory=~
CacheDirectory=swift
RuntimeDirectory=swift lock/swift
ExecStart=/usr/bin/swift-container-sync /etc/swift/container-server/%i.conf
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

