[Unit]
Description=OpenStack Swift container auditor
PartOf=swift-container-auditor.service
ReloadPropagatedFrom=swift-container-auditor.service
ConditionFileNotEmpty=/etc/swift/container-server/%i.conf
AssertFileNotEmpty=/etc/swift/account.ring.gz
AssertFileNotEmpty=/etc/swift/container.ring.gz
AssertPathExistsGlob=/etc/swift/object*.ring.gz
Documentation=man:swift-container-auditor(1)


[Service]
User=swift
Group=swift
WorkingDirectory=~
CacheDirectory=swift
RuntimeDirectory=swift lock/swift
ExecStart=/usr/bin/swift-container-auditor /etc/swift/container-server/%i.conf
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

