[Unit]
Description=OpenStack Swift container reconciler
ConditionFileNotEmpty=/etc/swift/container-reconciler.conf
AssertFileNotEmpty=/etc/swift/account.ring.gz
AssertFileNotEmpty=/etc/swift/container.ring.gz
AssertPathExistsGlob=/etc/swift/object*.ring.gz
Documentation=man:swift-container-reconciler(1)

After=network-online.target local-fs.target remote-fs.target 
Wants=network-online.target 

[Service]
User=swift
Group=swift
WorkingDirectory=~
CacheDirectory=swift
RuntimeDirectory=swift lock/swift
ExecStart=/usr/bin/swift-container-reconciler /etc/swift/container-reconciler.conf
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

